<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>
      <property name="use_sql_comments">true</property>
      <property name="connection.autocommit">true</property>
    <!-- DB schema will be updated if needed -->
      <property name="hbm2ddl.auto">update</property>

      <mapping class="de.marudor.simpleBots.account.Country"/>
      <mapping class="de.marudor.simpleBots.account.Person"/>
      <mapping class="de.marudor.simpleBots.account.Account"/>
      <mapping class="de.marudor.simpleBots.authentication.AuthUser"/>
      <mapping class="de.marudor.simpleBots.database.UserAgent"/>
  </session-factory>
</hibernate-configuration>